include README.md
include CHANGELOG.md
include CONTRIBUTING.md
include LICENSE
include pyproject.toml
include mkdocs.yml
recursive-include docs *.md
recursive-include examples *.py
recursive-include scripts *.py *.sh
recursive-include cpp *.cpp *.h
recursive-include tests *.py
recursive-include pyhuge *.py
recursive-include pyhuge/data *.npz
global-exclude __pycache__ *.py[cod] .DS_Store
